# Base libraries
ipykernel==6.29.5
matplotlib==3.10.0
pandas==2.1.4
numpy==1.26.0
seaborn==0.13.2

# Machine Learning
scikit-learn==1.6.1
joblib==1.3.2

# Web Scraping
requests==2.31.0
beautifulsoup4==4.12.3

# Data Storage
sqlalchemy==2.0.28

# Visualization
plotly==5.20.0
dash==2.15.0
streamlit==1.32.0

# Utilities
tqdm==4.66.1
python-dotenv==1.0.0